/* 
.container {
     margin: 0;
     padding: 0;
}

.pagination_none {
     display: none;
}

.pagination {
     width: 100%;
}

.pagination_responsive {
     width: 100%;
}

.gamesArea {
     display: flex;
     margin-left: 252px;
     flex-wrap: wrap;
     justify-content: space-around;
     backdrop-filter: blur(12px);
     border-radius: 25px;
}

.games_alert {
     margin-left: 280px;
     height: 97vh;
     backdrop-filter: blur(12px);
     border-radius: 25px;
     justify-content: space-around;
     text-align: center;
}

.games_alert h1 {
     padding-top: 20%;
     font-family: 'Audiowide', cursive;
     font-size: 60px;
     text-align: center;
     background-image: linear-gradient(20deg, #9700cf 20px, #1c027b);
     background-clip: text;
     text-shadow: 0px 0px 30px rgb(221, 0, 255);
     -webkit-background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
}

.games_alert h2 {
     font-family: 'Baloo 2', cursive;
     color: rgb(187, 203, 243);
     font-size: 60px;
     text-shadow: 5px 5px 15px black;
}

.games_alert_text {
     display: flex;
     width: 250px;
     height: 100px;
     margin: auto;
     border-radius: 20px;
     box-shadow: 0 0 30px 10px #0d0038e5;
     background: linear-gradient(-120deg, #052649 0%, #1f0557 40%, #28065a 60%, #5a0a65 100%);
}

.games_alert_text:hover {
     box-shadow: 0 0 50px 10px #52047be5;
     background: linear-gradient(180deg, #052649 0%, #1f0557 40%, #28065a 60%, #5a0a65 100%);
}

.icon {
     height: 100%;
     width: 30%;
}

.icon img {
     width: 90px;
     padding: 15px 0 10px 20px;
}

.title {
     margin-top: 10px;
}

.title span {
     font-family: 'Baloo 2', cursive;
     line-height: 40px;
     font-size: 35px;
} */

/* ---------------RESPONSIVE--------------- */

/* @media (max-height: 895px) {
     .gamesArea {
          display: flex;
          margin-left: 0;
          flex-wrap: wrap;
          justify-content: space-around;
          backdrop-filter: blur(12px);
          border-radius: 25px;
     }

     .games_alert {
          margin: 0;
     }
}

@media (max-width: 910px) {
     .gamesArea {
          display: flex;
          margin-left: 0;
          flex-wrap: wrap;
          justify-content: space-around;
          backdrop-filter: blur(12px);
          border-radius: 25px;
     }

     .games_alert {
          margin: 0;
     }
} */
