body {
     margin: 0;
}

.container {
     margin: 0;
     padding: 0;
     width: 100%;
}

.gamesArea {
     display: flex;
     /* margin-top: 150px; */
     /* margin-left: 300px; */
     margin-left: 17%;
     width: 80%;
     height: auto;
     flex-wrap: wrap;
     justify-content: space-around;
     backdrop-filter: blur(12px);
     border-radius: 25px;
     /* background-color: rgb(23, 23, 23); */
     /* background-color: #000b17 ; */
}

.pagination {
     width: 100%;
     background-color: black;
}
