.container {
     width: 100%;
     margin: 0;
}

/* ---------------ITEM--------------- */

.title {
     display: inline-block;
     width: 100%;
     vertical-align: middle;
     overflow: hidden;
     font-size: 17px;
     text-align: center;
     margin-top: 42px;
}

.item .title {
     padding: 9px 0;
}

.title span {
     font-family: 'Baloo 2', cursive;
}

/* --------SELECT--------- */

.container select {
     margin: 0px 0 0 10%;
     width: 80%;
     height: 27px;
     border-radius: 15px 0 0 15px;
     text-align: center;
     font-family: 'Baloo 2', cursive;
     font-size: 13.5px;
     cursor: pointer;
     background-color: rgb(250, 250, 250);
}

.container select option {
     font-family: 'Baloo 2', cursive;
     cursor: pointer;
}
