@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
     margin: auto;
     padding: 0;
}

/* ------------TODO------------ */

.container_form_all {
     display: flex;
     margin: 20px 60px 20px 300px;
     flex-wrap: wrap;
     justify-content: space-around;
     background: linear-gradient(130deg, #052649 0%, #1f0557 40%, #37063d 90%, #37063d 100%);
     border-radius: 25px;
}

.container_form {
     margin: auto;
     width: 800px;
     flex-wrap: wrap;
     justify-content: space-around;
     border-radius: 25px;
}

.container_form h1 {
     margin: 20px auto;
     width: 100%;
     text-align: center;
     color: white;
     font-size: 50px;
     font-family: 'B612', sans-serif;
}

.container_form label {
     color: white;
     font-size: 20px;
     font-family: 'Baloo 2', cursive;
     padding: 0 25px 0 6%;
}

.form_section {
     height: 100px;
}

.form_section input,
.form_container_section_img input,
.form_section_description textarea {
     display: flex;
     margin: auto;
     width: 400px;
     height: 27px;
     border-radius: 15px;
     text-align: center;
     font-family: 'Baloo 2', cursive;
     font-size: 13.5px;
     cursor: text;
     background-color: rgb(250, 250, 250);
}

.form_section_description textarea {
     height: auto;
}

.none {
     display: none;
}

/* ---------IMAGEN---------- */

.form_section_img {
     display: flex;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
}

.form_section_img img {
     width: 700px;
     height: 400px;
     margin: auto;
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 15px;
     background-size: 100% auto;
}

/* ---------SELECTS----------- */

.container select {
     display: flex;
     margin: auto;
     width: 400px;
     height: 27px;
     border-radius: 15px 0 0 15px;
     text-align: center;
     font-family: 'Baloo 2', cursive;
     font-size: 13.5px;
     cursor: pointer;
     background-color: rgb(250, 250, 250);
}

.container select option {
     font-family: 'Baloo 2', cursive;
     cursor: pointer;
}

/* --------------ERRORS----------------- */
.errors_container,
.errors_description_container {
     text-align: center;
}

.errors_container p,
.errors_description_container p {
     color: red;
     margin-top: 10px;
     cursor: default;
     font-size: 20px;
     font-family: 'Baloo 2', cursive;
}

.errors_description_container p {
     margin: 10px auto 40px;
}

/* -------------DELETE------------------ */
.section_delete_container {
     display: flex;
     width: 100%;
     padding-left: 5%;
     color: white;
}

.section_delete {
     display: flex;
     margin: -10px 10px 30px;
     padding: 10px;
     border-radius: 25px;
     background-color: rgba(0, 100, 146, 0.799);
}

.section_delete button {
     width: 30px;
     height: 30px;
     background-color: rgba(164, 22, 22, 0.749);
     border: solid 1px #ffffff;
     border-radius: 100%;
     font-family: 'Baloo 2', cursive;
     font-size: 15px;
     padding: 2px 9px;
     color: white;
     cursor: pointer;
}

.section_delete p {
     font-family: 'Baloo 2', cursive;
     padding-left: 10px;
     padding-top: 2px;
     cursor: default;
}

/* ----------BUTTON SUBMIT-------------- */

.games_alert_text {
     display: flex;
     width: 250px;
     height: 70px;
     margin: -10px auto 50px;
     cursor: pointer;
     border-radius: 20px;
     border: solid 1px #37063d;
     box-shadow: 0 0 30px 10px #3d0152e5;
     background: linear-gradient(-120deg, #052649 0%, #1f0557 40%, #28065a 60%, #5a0a65 100%);
}

.games_alert_text:hover {
     box-shadow: 0 0 50px 10px #52047be5;
     background: linear-gradient(180deg, #052649 0%, #1f0557 40%, #28065a 60%, #5a0a65 100%);
}

.icon {
     height: 100%;
     width: 30%;
}

.icon img {
     width: 60%;
     margin: 10px 0 0 6px;
}

.title {
     margin: 12px auto 0 -5px;
}

.title span {
     color: white;
     font-family: 'Baloo 2', cursive;
     line-height: 40px;
     font-size: 30px;
}

/* ---------------RESPONSIVE------------------ */

@media (max-width: 1100px) {
     .container {
          margin: 0;
          padding: 0;
          width: 100%;
     }

     .container_form,
     .container_form_all {
          width: 97%;
          margin: 10px auto 10px;
     }

     .form_section {
          height: 100px;
     }

     .form_section_img img {
          width: 88%;
          height: auto;
          margin: 6%;
          margin-top: 20px;
          margin-bottom: 20px;
     }

     .container select,
     .form_section input,
     .form_container_section_img input {
          margin: 0 0 0 10%;
          width: 80%;
          height: 27px;
          border-radius: 15px 0 0 15px;
          text-align: center;
          font-family: 'Baloo 2', cursive;
          font-size: 13.5px;
          cursor: pointer;
          background-color: rgb(250, 250, 250);
     }

     .container select option,
     .form_section input,
     .form_container_section_img input {
          font-family: 'Baloo 2', cursive;
          cursor: pointer;
     }

     .form_section input,
     .form_container_section_img input {
          border-radius: 15px;
          cursor: text;
     }

     .form_section_description textarea {
          width: 90%;
     }
}
