@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
     margin: 0;
     padding: 0;
}

/* ------------TODO------------ */

.container_form {
     /* display: flex; */
     height: 95vh;
     flex-wrap: wrap;
     justify-content: space-around;
     border-radius: 25px;
     margin: 20px 60px 0 300px;
     background: linear-gradient(130deg, #052649 0%, #1f0557 40%, #37063d 90%, #37063d 100%);
     /* background-color: #052649; */
}

.container_form h1 {
     color: white;
     text-align: center;
}

/* ---------IMAGEN---------- */

/* ---------DETALLES----------- */

/* ---------ABOUT AND DESCRIPTION----------- */

/* ---------------RESPONSIVE------------------ */

@media (max-width: 1100px) {
     .container_form {
          width: 97%;
          margin: auto;
          margin-top: 10px;
     }
}
