@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.input_group {
     position: relative;
     margin: 5px 0;
}

.input {
     width: 100%;
     height: 50px;
     border: solid 2px rgb(189, 189, 189);
     font-family: 'Baloo 2', cursive;
     color: rgb(255, 255, 255);
     border-radius: 1rem;
     background: none;
     padding: 1rem;
     font-size: 1rem;
     transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user_label {
     position: absolute;
     background-color: #28065a;
     top: -3px;
     left: 13.5px;
     color: rgba(255, 255, 255);
     font-family: 'Baloo 2', cursive;
     pointer-events: none;
     transform: translateY(1rem);
     transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
     outline: none;
     border: 2px solid rgba(0, 100, 146, 0.799);
}

.input:focus ~ label {
     transform: translateY(-40%) scale(0.8);
     background-color: #28065a;
     padding: 0 0.2em;
     color: rgba(0, 100, 146, 0.799);
}

.searchButton {
     background: transparent;
     border: none;
     position: absolute;
     right: 18px;
     top: 12px;
     cursor: pointer;
}

@media (max-height: 896px) {
     .user_label {
          background-color: rgb(63, 8, 95);
     }
     .input:focus ~ label {
          background-color: rgb(62, 7, 95);
     }
}

@media (max-width: 910px) {
     .user_label {
          background-color: rgb(63, 8, 95);
     }
     .input:focus ~ label {
          background-color: rgb(62, 7, 95);
     }
}
