/* @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
     --width: 247.5px;
     --padding: 9px;
     --hovercolor: rgba(0, 100, 146, 0.799);
     --width-collapsed: 45px;
}

.container {
     background: linear-gradient(-50deg, #052649 0%, #1f0557 40%, #28065a 60%, #5a0a65 100%);
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16.2px;
     padding: 0;
     margin: 0;
     width: var(--width);
     height: 100%;
     color: white;
     position: fixed;
     left: 0;
     top: 0;
}

.sidemenu {
     color: white;
     position: fixed;
     height: 100%;
     left: 0;
     top: 0;
}

Link {
     color: white;
     text-decoration: none;
} */

/* -----------PROFILE------------- */
/* .profile {
     padding: var(--padding);
     margin: 0 13.5px;
     text-align: center;
}

.photo {
     box-sizing: border-box;
     padding: var(--padding);
     margin: 0 auto;
}

.photo img {
     border-radius: 50%;
     width: 80%;
} */

/* -------------ITEM----------------- */
/* .menu_items {
     overflow: hidden;
     border-top: solid 1.8px rgb(78, 0, 188);
     margin: 9px 13.5px 0;
}

.item {
     width: var(--width - 15px);
     padding: 9px 4.5px 0px;
}

.button_gamesAll {
     background-color: transparent;
     border-color: transparent;
     color: white;
     cursor: pointer;
     width: 100%;
     text-align: left;
     border-radius: 10px;
}

.icon,
.title {
     font-size: 19.8px;
     vertical-align: middle;
     overflow: hidden;
     display: inline-block;
}

.item a {
     display: block;
     border-radius: 10px;
}

.item .title {
     padding: var(--padding) 0;
}

.title span {
     font-family: 'Baloo 2', cursive;
}

.item a:hover,
.button_gamesAll:hover {
     background-color: var(--hovercolor);
}

.icon {
     display: inline-block;
     box-sizing: border-box;
     padding: var(--padding);
     width: var(--width-collapsed);
}

.icon img {
     width: 100%;
} */

/* ------------FILTERS-------------- */

/* .item_filter_portada {
     position: absolute;
     width: var(--width - 13.5px);
     padding: 0 4.5px 0;
}

.icon_sort {
     display: inline-block;
     box-sizing: border-box;
     padding: var(--padding);
     width: var(--width-collapsed);
     font-size: 19.8px;
     vertical-align: middle;
     overflow: hidden;
     display: inline-block;
}

.icon_sort img {
     width: 93%;
}

.item_filter_one {
     margin-top: 42px;
     margin-bottom: 12.6px;
}

.item_filter {
     margin-bottom: 12.6px;
} */

/* -----------------RESPONSIVE------------- */

/* @media (max-height: 895px) {
     .container {
          font-size: 16.2px;
          width: 100%;
          position: relative;
     }

     .profile {
          display: none;
     }

     .menu_items {
          margin-top: 0;
     }
}

@media (max-width: 910px) {
     .container {
          font-size: 16.2px;
          width: 100%;
          position: relative;
     }

     .profile {
          display: none;
     }

     .menu_items {
          margin-top: 0;
     }
} */
