@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
     margin: 0;
     padding: 0;
}

/* ------------TODO------------ */

.container_details {
     display: flex;
     width: 80%;
     height: auto;
     flex-wrap: wrap;
     justify-content: space-around;
     border-radius: 25px;
     margin-left: 300px;
     margin-top: 20px;
     background: linear-gradient(130deg, #052649 0%, #1f0557 40%, #37063d 90%, #37063d 100%);
     /* background-color: #052649; */
}

.title {
     font-family: 'B612', sans-serif;
     font-size: 90px;
     width: 100%;
     text-align: center;
     color: rgba(255, 255, 255);
}

/* ---------IMAGEN---------- */

.details_portada {
     display: flex;
     margin: auto;
     height: 400px;
     width: 70%;
}

.details_portada_img img {
     width: 700px;
     height: 400px;
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 15px;
     background-size: 100% auto;
}

/* ---------DETALLES----------- */

.details_all {
     /* display: flex; */
     /* flex-wrap: wrap; */
     /* justify-content: space-around; */
     backdrop-filter: blur(12px);
     border-radius: 25px;
     margin: auto;
     margin-top: 10px;
     /* background-color: rgb(23, 23, 23); */
     /* background-color: #000b17 ; */
}

h3 {
     color: #ffffff;
}

h4 {
     color: rgb(17, 171, 194);
}

.details_all_text {
     color: #ffffff;
     margin: 20px;
     width: 200px;
}

/* ---------ABOUT AND DESCRIPTION----------- */

.details_description {
     width: 70%;
     margin: 10px 0 20px;
     /* margin: 10px 180px 20px 200px; */
}

.details_description h2 {
     font-size: 25px; /* 24px de base en h2 */
     margin: 10px 0;
     color: rgb(17, 171, 194);
}

.details_description_text {
     font-size: 21px;
     font-weight: 1;
     font-family: 'Baloo 2', cursive;
}

/* ------------------------------------- */

.none {
     display: none;
}
