@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

.container {
     margin: 0;
     padding: 0;
}

/* ------------TODO------------ */

.container_details {
     display: flex;
     margin: 20px 60px 0 300px;
     flex-wrap: wrap;
     justify-content: space-around;
     background: linear-gradient(130deg, #052649 0%, #1f0557 40%, #37063d 90%, #37063d 100%);
     border-radius: 25px;
}

.title {
     font-family: 'B612', sans-serif;
     font-size: 90px;
     width: 100%;
     text-align: center;
     color: rgba(255, 255, 255);
}

/* ---------IMAGEN DETAILS---------- */

.details_portada {
     display: flex;
     margin: auto;
     width: 70%;
}

.details_portada_img img {
     width: 700px;
     height: 400px;
     /* width: 98%;
     height: 100%; */
     background-repeat: no-repeat;
     background-position: 50%;
     border-radius: 15px;
     background-size: 100% auto;
}

.details_all {
     /* display: flex; */
     /* flex-wrap: wrap; */
     /* justify-content: space-around; */
     margin: auto;
     margin-top: 10px;
     border-radius: 25px;
}

.details_all_text h3 {
     color: #ffffff;
}

.details_all_text h4 {
     color: rgb(17, 171, 194);
}

.details_all_text {
     color: #ffffff;
     margin: 20px;
     width: 200px;
}

/* ---------ABOUT AND DESCRIPTION----------- */

.details_description {
     width: 70%;
     margin: 10px 0 20px;
     /* margin: 10px 180px 20px 200px; */
}

.details_description h2 {
     font-size: 25px; /* 24px de base en h2 */
     margin: 10px 0;
     color: rgb(17, 171, 194);
}

.details_description_text {
     color: #ffffff;
     font-size: 21px;
     font-weight: 1;
     font-family: 'Baloo 2', cursive;
}

/* ------------------RESPONSIVE------------------ */

@media (max-width: 1430px) {
     .title {
          font-size: 5vw;
     }

     .details_portada {
          display: block;
          width: 90%;
          margin: auto;
     }

     .details_portada_img img {
          width: 100%;
          height: auto;
     }

     .details_all {
          display: flex;
          text-align: center;
     }

     .details_description {
          width: 90%;
          margin: 0 0 4%;
     }

     .details_description h2 {
          font-size: 25px;
          padding: 0;
     }
}

@media (max-width: 1100px) {
     .container_details {
          margin: 10px;
     }
}

@media (max-width: 700px) {
     .details_all {
          display: block;
          text-align: left;
     }
     .details_all_text {
          color: #ffffff;
          margin: 20px;
          padding-right: 10px;
          width: 100%;
     }
}
